@model Tp_Freelance.Models.CustomerCat

@{
    ViewData["Title"] = "Edit Team";
}

<h1 class="text-center">Edit Team</h1>

<div class="form">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" cols="52" rows="6"></textarea>
            <span asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-simple" />
        </div>
    </form>
    <div class="text-center">
        <a asp-action="Index">Back to List</a>
    </div>
</div>