@font-face {
  font-family: "Channel";
  src: url("../fonts/channel-webfont.ttf");
}

@font-face {
  font-family: "Caitlin";
  src: url("../fonts/Caitlin.ttf");
}

@font-face {
  font-family: "Ab_Exp";
  src: url("../fonts/AB_Exp_by_III_wildcard_III.ttf");
}

* {
  list-style: none;
  margin: 0;
}

body {
  background-image: url("../images/bg_motif.gif");
}

h2 {
  font-family: "Channel", Helvetica, sans-serif;
  text-align: center;
  font-size: 1em;
  font-weight: 100;
  color: white;
}

hr {
  width: 98%;
  margin: 0.5em auto 0.5em auto;
  border: none;
  border-top: solid rgba(255, 255, 225, 0.6) 0.01em;
}

button {
  border: none;
  width: 7em;
  height: 2.5em;
  color: white;
  background-color: rgb(175, 175, 175);
}

p{
  font-weight: 900;
}

header {
  position: fixed;
  width: 100%;
  height: 3em;
  background-color: black;
  border-bottom: 0.01em solid white;
}

header #logo {
  position: relative;
  width: 6%;
  top: 1.3em;
  left: 3em;
}

header nav {
  width: 80%;
  float: right;
  margin-top: -19em;
}

header ul{
  float: right;
}

header li {
  height: 100%;
  padding: 1em 1.5em 0;
  font-family: "Channel", Helvetica, sans-serif;
  font-size: 0.8em;
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: white;
}

.sous {
  display: none;
  position: absolute;
  top: 3.8em;
  max-width: 11em;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border: solid 0.1em white;
}

.sous li:nth-child(1n+2){
  width: 10.6em;
  border-top: solid 0.1em white;
}

nav a:hover{
  color: brown; 
}

nav a:focus + .sous{
  display: block;
}

main {
  padding-top: 2.5em;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 100%;
  background-color: rgba(65, 65, 65, 0.2);
  box-shadow: 0 0 0.6em black;
}

#carousel {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

#switch {
  padding: 0.2em;
  margin-top: 1.5em;
  background-color: white;
}

#carousel p {
  margin-top: 0.5em;
  padding: 0.2em;
  background-color: white;
  color: red;
  text-align: center;
}

#switch img {
  max-width: 100%;
}

.vignette {
  background-image: url("../images/bg_g.png");
  background-repeat: no-repeat;
  width: 30%;
  margin: 0.8em;
  float: left;
}

.vignette h2 {
  width: 80%;
  float: left;
}

.vignette .icon {
  width: 2em;
  height: 2em;
}

.vignette p {
  padding: 1em;
  color: black;
  text-align: center;
  font-size: 1em;
}

.vignette>button{
    margin-left: auto;
    margin-right: auto;
}

#selection,
#cadeaux {
  background-color: rgba(65, 65, 65, 0.5);
  margin: 0.8em 0.5em 1em 0.5em;
}

#selection,
#cadeaux {
  height: 12em;
}

#selection {
  width: 20%;
  float: left;
}

#cadeaux {
  width: 75%;
  float: right;
}

footer {
}

footer ul > li {
  display: inline-block;
}
