button {
    display: block;
    border: none;
    width: 7em;
    height: 2.5em;
    color: white;
    background-color: rgb(175, 175, 175);
    font-weight: 300;
    transition: 300ms;
    
    a {
    text-decoration: none;
    color: white;
    }

    &:hover {
        color: brown;
        transform: rotate(-0.05turn) scale(1.15);
    }
}