*{
    box-sizing: border-box;
    font-family: Verdana, Sans-Serif;
}

body{
    margin: 0;
    background-color: #222222;
}

#header{
    display: flex;
    background-color: #224422;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#logo{
    height: 100px;
}

p{
    color: #FFFFFF;
}

h1{
    color: #CCFFCC;
}

a {
    color: #CCCCFF;
}

.menu{
    list-style: none;
}

.menu a {
    text-decoration: none;
}

footer>p{
    text-align: center;
}