Option +FollowSymLinks

RewriteEngine On
#Si le dossier existe pas
RewriteCond %{REQUEST_FILENAME} !-d
#Si le fichier existe pas
RewriteCond %{REQUEST_FILENAME} !-f
#Accepte tout les carracteres
RewriteRule ^(.*)$ /titanic/index.php