:root {
    --bleu_standart: #4080AC;
    --bleu_clair: #70B0DC;
    --bleu_fonce: #2565A1;
    --bleu_and_fonce: #10508C;

    --lite: #F5F5F5;
    --lite_hover: #FFFFD0;
    --dark: #111111;
    --shadow-text: 1px 1px var(--dark), -1px 1px var(--dark), 1px -1px var(--dark), -1px -1px var(--dark);
}

* {
    box-sizing: border-box;
    font-family: "Open Sans", Arial, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    margin: 0;
    color: var(--lite);
}

/**
  TODO: background semi-fixe
  TODO: btn du menu reactif avec un changement de couleur
  //Vue Mobile
  TODO: btn "découvrir" transparant en vue mobile
  TODO: big-logo + btn disparais à "x" px de scrolling en vue mobile
  //vue PC
  TODO: Menu translucide en vue pc et devient opaque à "x" px de scrolling

 */

/*
 * header
*/
.header {
    min-height: 100vh;
    width: 100%;

    background-image: url("../img/ice.jpg");
    background-repeat: no-repeat;
    background-position: -50px -10px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header .sidebar {
    background-color: var(--bleu_and_fonce);
    box-shadow: 0 0 10px var(--lite);

    height: 60px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
}

.header .sidebar .logo {
    margin-left: 20px;
    flex-basis: 100%;
}

.header .sidebar .logo > img {
    margin-top: 5px;
    width: 80px;
}

.header .sidebar nav {
    margin-right: 15px;
    flex-basis: 100%;
}

.header .sidebar nav > .menu {
    padding: 0;
}

.header .sidebar nav > .menu {
    margin: 0;
    height: 100%;
}

.header .sidebar nav > .menu > #act-menu {
    height: 100%;
    padding: 18px 5px;
}

.header .sidebar #act-menu:hover {
    background: linear-gradient(var(--bleu_clair), var(--bleu_fonce));
}

.header .sidebar .menu > #act-menu:hover > #sous-menu {
    z-index: 1;
    display: block;
    position: absolute;
    background-color: var(--bleu_and_fonce);
    width: 100%;
    left: 0;
}

.header .sidebar #sous-menu {
    margin-top: 20px;
}

.header .sidebar #sous-menu > li {
    margin: 42px 0;
}

.header .sidebar #sous-menu > li:last-child {
    margin: 20px 0;
}

.header .sidebar #sous-menu a {
    color: var(--lite);
}

.header .sidebar #sous-menu img {
    width: 15px;
}

.header .title-main, .header button, .header p {
    text-shadow: var(--shadow-text);
}

.header .title-main {
    margin: 0 auto;
    font-size: 50px;
    text-align: center;

}

.header button {
    border-style: none;
    background-color: var(--bleu_fonce);
    flex-basis: 60px;
    width: 100%;
    color: var(--lite);
    font-size: 20px;
    font-weight: 900;
}

@media all and (min-width: 800px) {
    .header {

    }
}

@media all and (min-width: 1024px) {
    .header .sidebar {
        background: none;
        box-shadow: none;
    }

    .header nav {
        width: 80%;
        margin: 0 !important;
        height: 60px;
    }

    .header nav > ul > .boot-menu {
        padding: 0 !important;
    }

    .header nav > ul > .boot-menu > a {
        display: none;
    }


    .header .sous-menu {
        height: 100%;
        display: flex !important;
        margin: 0 !important;
        width: 100%;

    }

    .header #act-menu > .sous-menu {
        margin: auto !important;
    }

    .header .sidebar ul > .boot-menu:hover {
        background: linear-gradient(var(--bleu_clair), var(--bleu_fonce));
    }

    .header .sidebar ul > #act-menu:hover > #sous-menu {
        z-index: 1;
        display: block;
        position: absolute;
        background-color: var(--bleu_and_fonce);
        width: 100%;
        left: 0;
    }
}