<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css">
    <title>Agence de Voyage Titanic</title>
</head>
<body>
<header>
    <div class="logo"></div>
    <div class="titanic"></div>
</header>
<main>
    <section>
        <h1>Titanic, l'agence qui ne coulera pas vos vacances</h1>
        <article>
            <h2>Une destination de rêve</h2>
            <img src="./img/10.jpg" alt="Vue sur un lac">
            <p>On continue notre tour des destinations européennes à ne pas
                manquer.</p>
            <p>Dans le nord de l'Europe, à la saison automnale, on peut
                découvrir de superbes panoramas pour peu que l'on aie
                suffisemment de courage pour grimper les nombreux kilomètres
                qui peuvent séparer votre lieu de résidence des points de vue magistraux tels qu'on
                peut le voir sur la photo. Pays des mille lacs, de forêts à perte de vue et de taïga,
                venez découvrir la nature paisible et intacte de Finlande lors nos circuits
                accompagnés. Nous vous ferons découvrir cette nature originelle à travers une
                multitude d’activités en fonction des saisons... En hiver, le pays se transforme pour
                devenir un royaume de neige parsemé de lacs et de rivières gelés...</p>
            <a href="#">Lire la suite</a>
        </article>
        <article>
            <h2>Affrontez vos peurs</h2>
            <img src="./img/wayday.jpg" alt="Une femme en premier plan et un avion dans le second plan.">
            <p>Stressé à l'idée de prendre l'avion ? Chez TITANIC, nous avons
                décidé de vous aider à vaincre cette peur.</p>
            <p>Notre service "VASCO" propose un stage de traitement de la
                peur en avion pour vous permettre de dépasser vos angoisses.
                Des pilotes professionnels identifient avec vous vos appréhensions pour pouvoir les
                désactiver grâce à un programme individuel sur-mesure et un instrument efficace :
                le simulateur de vol.</p>
            <p>Ce stage, à la fois amusant et rassurant, se déroule en 2 phases. Une phase
                théorique, pendant laquelle vous apprendrez le fonctionnement d’un avion, le travail
                effectué par le personnel, les réglementations appliquées, etc... Puis une seconde
                phase pratique, où vous serez le pilote de l’avion… dans un simulateur ! Une
                expérience unique pour apprendre le décollage, le vol et l’atterrissage de l’avion. Un
                moment d’échange et de partage pour vaincre votre peur et vous assurez que votre
                prochain voyage TITANIC se déroulera à merveille. Prêts à tenter l’aventure ?!</p>
            <a href="#">Voire les dates des prochains stages <mark>VASCO</mark></a>
        </article>
        <article>
            <h2>Les vacances au soleil: c'est de bon teint!</h2>
            <img src="./img/soleil.jpg" alt="Des palmiers avec un petit bateau.">
            <p>Les effets terrestres de l’activité solaire sont multiples, le plus
                spectaculaire étant le bronzage.</p>
            <p>Vous êtes plutôt vacances soleil ou vacances mer ? Mais au fait,
                pourquoi choisir ? Ici nous vous proposons des vacances au
                soleil et à la mer. Et qui dit vacances au soleil dit horaires de plages et non plus
                plages horaires (hahaha hohoho hihihi). Fini l’emploi du temps qui vous conditionne
                toute l’année. Ici, vous sortez quand bon vous chante et vous profitez de la mer au
                moment où vous le décidez. D’où l’intérêt de choisir des vacances au soleil en
                privilégiant les pays qui vous garantissent un ensoleillement continu. N’oubliez pas
                vos lunettes de soleil et votre crème, ce seront vos deux meilleurs amis.</p>
            <a href="#">Voir les destinations mer-soleil</a>
        </article>
    </section>
    <section>
        <h2>Coordonnées de l'agence</h2>
        <address>
            AGENCE TITANIC <br>
            42 RUE DE L'ICEBERG<br>
            68100, MULHOUSE
        </address>
        <h2>Laissez vous tenter</h2>
        <aside>
            <h2>Séjour touristique</h2>
            <h3>Marrakech</h3>
            <img src="./img/marrakech.jpg" alt="Vue sur différent lieux de Marrakech.">
            <p>7 JOURS | HOTEL 4* EN PENSION COMPLÈTE | 599€ / PERSONNE</p>
        </aside>
        <aside>
            <h2>Croisière méditerranée</h2>
            <h3>Marseille</h3>
            <img src="./img/croisiere.jpg" alt="Vue sur un paquebot de croisière.">
            <p>10 JOURS | BASTIA, ROME, NAPLES, PALERME, TRIPOLI, TUNIS, BARCELONE | 1899€ / PERSONNE</p>
        </aside>
        <aside>
            <h2>Voyage aventure</h2>
            <h3>tchernobyl</h3>
            <img src="./img/tchernobyl.jpg" alt="Central nuclear de Tchernobyl.">
            <p>3 JOURS | GROUPES DE 3 PERSONNES ET + | 1299€ / PERSONNE</p>
        </aside>
    </section>
</main>
<footer> &copy; 2020 Agence Titanic. Tous droits réservés</footer>
</body>
</html>