<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css">
    <title>Agence Titanic</title>
</head>
<body>
<header class="header">
    <div class="logo"><img src="./img/logo/titanic_1.png" alt="logo de l'agence"></div>
    <div class="menu">
        <nav class="first_menu" >
            <ul>
                <li><a>Menu</a>
                    <ul hidden>
                        <li><a href="#">Item 1</a></li>
                        <li><a href="#">Item 2</a></li>
                        <li><a href="#">Item 3</a></li>
                        <li><a href="#">Item 4</a></li>
                        <li><a href="#">Item 5</a></li>
                        <li><a href="#"><img src="./img/" alt="Connection"></a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <img src="./img/logo/titanic_1.png" alt="logo de l'agence">
    <h1>Agence Titanic</h1>
    <p>Vos vacoances s'annoncent titanesques</p>
</main>
<footer><p>Découvrir nos destination</p></footer>
</body>
</html>