:root {
    --black: #111;
    --white-break: #FAF7F5;
    --white: #FFFFFF;
    --grey: #45505E;
    --grey-trans: #EBEFF2;
    --green: #38DD09;
    --purple: #3809DD;
    --red: #ff0000;
}

* {
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}

.m {
    margin: 10px;
}

/*
 * Btn-simple
*/


.btn {
    border: 1px solid var(--grey);
    padding: 5px;
    border-radius: 3px;
    text-decoration: none;
    width: 30px;
    color: var(--grey);
}

.btn-simple:hover {
    background-color: var(--green);
    color: var(--white);
}

.btn-danger:hover {
    background-color: var(--red);
    color: var(--white);
}



/* btn fa */
.btn-fa {
    margin: 5px;
}

.fa-pencil-square-o {
    color: var(--green);
}

.fa-times {
    color: var(--red);
}

body {
    margin: 0;
    background-color: var(--white-break);
}

.content {
    background-color: var(--white);
    margin: 30px auto;
    width: 960px;
    border-radius: 5px;
    border: 1px solid var(--grey);
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 15px;
}

    .header .logo {
        width: 200px;
    }

        .header .logo a > img {
            height: 40px;
        }

    .header nav ul {
        padding: 0;
        display: flex;
        justify-content: space-around;
        list-style: none;
    }

    .header nav li {
        border-radius: 3px;
        border: 1px solid var(--grey);
        margin: 0 3px;
        padding: 3px 10px;
    }

        .header nav li:hover {
            background-color: var(--green);
            border: 1px solid var(--black);
            color: var(--white);
        }

            .header nav li:hover > a {
                color: var(--white);
            }

        .header nav li > a {
            color: var(--grey);
            text-decoration: none;
        }

main {
    padding: 0 15px;
}

.links_info {
    background-color: var(--grey-trans);
    height: 90px;
    color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

    .links_info ul {
        display: flex;
        padding: 0;
    }

    .links_info li {
        margin: 13px;
    }

        .links_info li a {
            color: var(--grey);
            text-decoration: none;
        }

        .links_info li:first-child {
            list-style: none;
        }


.table {
    width: 80%;
    margin: 0 auto 30px auto;
    border-spacing: 0;
    border-color: var(--black);
    border-width: 1px;
    border-style: solid;
    padding: 0;
}

    .table > thead {
        color: var(--white);
        background-color: var(--black);
    }

    .table td {
        text-align: center;
    }

.copyright {
    border-radius: 0 0 5px 5px;
    color: var(--white);
    background-color: var(--grey);
    padding: 15px;
}

    .copyright p {
        margin: 0;
    }



/*
 * form
 *
*/
.form {
    width: 400px;
    margin: 0 auto 30px auto;
}

    .form .form-group {
        margin: 10px 0;
    }

    .form label {
        display: block;
        margin: 0 0 2px 0;
    }

    .form input {
        width: 100%;
        height: 35px;
    }

    .form textarea {
        resize: none;
    }

/*
 * info
*/
.info_del {
    border: 1px solid var(--black);
    border-radius: 3px;
    padding: 5px;
}

    .info_del dt {
        margin-bottom: 5px;
        text-decoration-line: underline;
    }

    .info_del dd {
        margin-bottom: 5px;
    }
