@model Tp_Freelance.Models.Quote

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Quote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuoteStat" class="control-label"></label>
                <input asp-for="QuoteStat" class="form-control" />
                <span asp-validation-for="QuoteStat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuoteDate" class="control-label"></label>
                <input asp-for="QuoteDate" class="form-control" />
                <span asp-validation-for="QuoteDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="amount" class="control-label"></label>
                <input asp-for="amount" class="form-control" />
                <span asp-validation-for="amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuoteFinalDate" class="control-label"></label>
                <input asp-for="QuoteFinalDate" class="form-control" />
                <span asp-validation-for="QuoteFinalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuoteFinalAmount" class="control-label"></label>
                <input asp-for="QuoteFinalAmount" class="form-control" />
                <span asp-validation-for="QuoteFinalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
