<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Administration | Dashboard</title>
</head>
<body class="body_grid">
<header class="header">
    <h1>Titanic</h1>
    <div class="logout"><a href="">Utilisateur connecté</a></div>
</header>
<section class="menu">
    <img src="./img/logo/titanic_1.png" alt="logo">
    <nav>
        <ul>Dashboard</ul>
        <ul>Orders</ul>
        <ul>Users</ul>
        <ul>Sales</ul>
        <ul>Trips</ul>
        <ul>Places</ul>
        <ul>Themes</ul>
        <ul>Services</ul>
    </nav>
</section>
<main class="dashboard">
    <header><h2>Welcome to your Dashboard</h2></header>
    <section>
        <p>This pages shows you an overview of your database</p>
        <div class="info">
            <div>101 Orders</div>
            <div>34 trips</div>
            <div>17 Places</div>
        </div>
    </section>
</main>
</body>
</html>