{% extends 'admin/base.html.twig' %}
{% block title %}{{ parent() }} Dashboard{% endblock %}
{% block classBody %}class="body_grid"{% endblock %}
{% block sous-title %}Welcome to your Dashboard{% endblock %}
{% block content %}
    <section class="content">
        <p>This pages shows you an overview of your database</p>
        <div class="info">
            <a>101 Orders</a>
            <a>34 trips</a>
            <a>17 Places</a>
        </div>
    </section>
{% endblock %}