<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheet %}<link rel="stylesheet" href="../css/admin.css">{% endblock %}
    <title>Administration {% block title %}|{% endblock %}</title>
</head>
<body {% block classBody %}{% endblock %}>
{% block body %}
{% endblock %}
{% block js %}
    <script src="../js/main.js"></script>
{% endblock %}
</body>
</html>