{% extends('admin/layout.html.twig') %}
{% block title %}{{ parent() }} Sales{% endblock %}
{% block classBody %}class="body_grid"{% endblock %}
{% block sous_title %}Sales Managment{% endblock %}
{% block content %}
<section class="content">
</section>
{% endblock %}