{% extends 'admin/base.html.twig' %}
{% block title %}{{ parent() }} Login{% endblock %}

{% block body %}
    <header class="header"><h1>Titanic Authentification</h1></header>
    <section class="login">
        <div class="image"><img src="https://via.placeholder.com/150" alt="login"></div>
        <form method="post">
            <input type="text" name="username" id="username" placeholder="User Name" required autofocus>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <button type="submit">Sign in</button>
        </form>
        <!--
         TODO: message d'information ou d'erreur
         <p>Logout Sucessfull</p>
         <p>Incorrect Credentials</p>
         -->
    </section>
{% endblock %}