:root {
    --bleu_standart: #4080AC;
    --bleu_clair: #70B0DC;
    --bleu_fonce: #2565A1;
    --bleu_and_fonce: #10508C;

    --lite: #F5F5F5;
    --lite_hover: #FFFFD0;
    --dark: #111111;
    --shadow-text: 1px 1px var(--dark), -1px 1px var(--dark), 1px -1px var(--dark), -1px -1px var(--dark);
}

* {
    box-sizing: border-box;
    font-family: "Open Sans", Arial, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    min-height: 100vh;
    background-image: url("../img/ice.jpg");
    background-repeat: no-repeat;
    margin: 0;
    color: var(--lite);
}

header, footer {
    background-color: var(--bleu_and_fonce);
    height: 60px;
    display: flex;
    flex-direction: column;
}

/*
 * header
*/
.header {
    width: 100%;
    position: fixed;
    flex-wrap: wrap;
    justify-content: stretch;
    align-content: space-between;
    box-shadow: 0 0 10px var(--lite);
}

.header .logo{
    padding: 5px 0 5px 20px;
    flex-basis: 100%;

}

.header .logo > img {
    width: 80px;
}

.header .menu {
    margin-right: 20px;
    flex-basis: 100%;
}

.header .menu > ul {
    padding: 0;
    margin: 0;
    height: 100%;
}

.header ul>li{
    padding: 18px 5px;
    height: 100%;
}

.header ul>li:hover>a{
    color: red;
}

.header ul>li:hover > ul{
    display: block;
    position: absolute;
    background-color: var(--bleu_and_fonce);
    padding: 0;
}

/*
 * Main
*/
section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

section .logo {
    margin-top: 70px;
}

section .title>h1 {
    font-size: 50px;
    text-shadow: var(--shadow-text);
    text-align: center;
    margin: 27px;
}

section > p {
    text-shadow: var(--shadow-text);
}

.footer {
    justify-content: center;
    align-items: center;
}

.footer > p {
    text-shadow: var(--shadow-text);
}