:root {
    --bleu_standart: #4080AC;
    --bleu_clair: #70B0DC;
    --bleu_fonce: #2565A1;
    --bleu_and_fonce: #10508C;

    --lite: #F5F5F5;
    --lite_hover: #FFFFD0;
    --dark: #111111;
    --shadow-text: 1px 1px var(--dark), -1px 1px var(--dark), 1px -1px var(--dark), -1px -1px var(--dark);
}

* {
    box-sizing: border-box;
    font-family: "Open Sans", Arial, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    min-height: 100vh;
    margin: 0;
    color: var(--lite);
}

/*
 * header
*/
.header {
    width: 100%;
    position: fixed;
}

.header .header-menu{
    background-color: var(--bleu_and_fonce);
    box-shadow: 0 0 10px var(--lite);
    position: relative;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: stretch;
    align-content: space-between;
}

.header .header-menu .logo{
    padding: 5px 0 5px 20px;
    flex-basis: 100%;
}

.header .header-menu .logo > img {
    width: 80px;
}

.header .menu {
    margin-right: 20px;
    flex-basis: 100%;
}

.header .menu > ul {
    padding: 0;
    margin: 0;
    height: 100%;
}

.header .menu ul>li{
    padding: 18px 5px;
    height: 100%;
}

.header .menu ul > .boot-menu:hover {
    background: linear-gradient(var(--bleu_clair), var(--bleu_fonce));
}

.header .menu ul>li:hover > .sous-menu {
    z-index: 1;
    display: block;
    position: absolute;
    background-color: var(--bleu_and_fonce);
    width: 100%;
    left: 0;
}

.header .menu .sous-menu {
    margin-top: 20px;
    width: 100%;
    left: 0;
}

.header .menu .sous-menu a{
    color: var(--lite);
}

.header .menu .sous-menu img{
    width: 15px;
}

.header .title {
    text-shadow: var(--shadow-text);
    height: 100%;
    width: 100%;
    background-image: url("../img/ice.jpg");
    background-repeat: no-repeat;
    background-position: -46px -80px;

    position: fixed;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.header .title .logo{
    margin-top: 10px;
}

.header .title .title-main{
    margin: 0 auto;
    font-size: 50px;
    text-align: center;
}

.header .title button{
    border-style: none;
    background-color:var(--bleu_fonce);
    flex-basis: 60px;
    width: 100%;
    color: var(--lite);
    text-shadow: var(--shadow-text);
    font-size: 20px;
    font-weight: 900;
}