@font-face{
    font-family: "Channel";
    src: url('../fonts/channel-webfont.ttf');
}

*{
    list-style: none;
    margin: 0;
}

body {
    background-image: url('../images/bg_motif.gif');
}
    
h2{
    font-family: "Channel", Helvetica, sans-serif;
    text-align: center;
    font-size: 1em;
    font-weight: 100;
    color: white;
}

hr{
    width: 98%;
    margin: 0.5em auto 0.5em auto;
    border: none;
    border-top: solid rgba(255, 255, 225, 0.6) 0.01em;
}

button{
    border: none;
    width: 7em;
    height: 2.5em;
    color: white;
    background-color: rgb(175, 175, 175);
}

header{
    width: 100%;
    height: 3em;
    background-color: black;
    border-bottom: 0.01em solid white;
}

header #logo{
    width: 20%;
    height: 0;
}

header img{
    
}

header nav{
    width: 80%;
    float: right;
}

header li{
    height: 100%;
    padding: 1em 1.5em 0;
    font-family: "Channel", Helvetica, sans-serif;
    font-size: .8em;
    display: inline-block;
}

nav a{
    text-decoration: none;
    color: white;
}

.sous{
    display: none;
}

main{
    padding-top: 2.5em;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 100%;
    background-color: rgba(65, 65, 65, 0.2);
    box-shadow: 0 0 0.6em black;
}

#carousel{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#switch, #switch + p{
    margin-top: 0.5em;
    background-color: white;
}

.vignette{
    background-image: url('../images/bg_g.png');
    background-repeat: no-repeat;
    width: 35%;
    margin: 0.8em;
}

#selection, #cadeaux{
    background-color: rgba(65, 65, 65, 0.5);
    margin: 0.8em 0.5em 1em 0.5em;
}

#selection{
    width: 20%;
    border: solid black;
}

#cadeaux{
    width: 70%;
    border: solid black;
}


footer{
    
}

footer ul>li{
    display: inline-block;
}